Source: libflashplugin
Section: utils
Priority: optional
Maintainer: Deepin Packages Builder <packages@deepin.com>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.8
Homepage: http://www.adobe.com/go/getflash 

Package: libflashplugin
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Adobe Flash Plugin
